.Header {
  height: 64px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, white, transparent);
  position: relative;
  z-index: 2;
}

.Header__Title {
  margin: 0 auto 0 18px;
  font-size: 24px;
}

.Header__Nav {
  display: flex;
}

.Header__Nav__Item {
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none !important;
  border: none;
  background: none;
  padding: 0;
}

.Header__Nav__Item+.Header__Nav__Item {
  margin-left: 18px;
}

.Header__Search {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 18px;
  transition: margin .2s, opacity .4s .1s;
}

.Header__Search.hidden {
  opacity: 0;
  transition: margin .4s .1s, opacity .2s;
  margin-top: -64px;
}

.Header__Search__Input {
  width: 100%;
  border: 2px solid rgb(200, 200, 200);
  padding: 8px 16px;
  border-radius: 99px;
  transition: .2s;
  outline: none;
}

.Header__Search__Input:focus {
  border-color: mediumvioletred;
}

.Header__Filters {
  position: absolute;
  z-index: 3;
  background: white;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 30px;
  border-top-right-radius: 0;
  display: flex;
  width: 200px;
  right: 0;
  top: 62px;
  transition: .3s;
}

.Header__Filters.hidden {
  transform: translateY(-20%);
  opacity: 0;
  pointer-events: none;
}

.Header__Filters__Select {
  background: transparent;
  border: none;
  outline: none !important;
  padding: 8px 16px;
  appearance: none;
  display: block;
  border-radius: 0;
  cursor: pointer;
}

.Header__Filters__Select+.Header__Filters__Select {
  border-left: 2px solid rgb(200, 200, 200);
}