html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 90%;
  max-width: 420px;
  margin: 0 auto;
}

@media(min-width: 420px) {
  body {
    background: lightgray;
  }
  .App {
    box-shadow: 0 0 12px rgba(000, 000, 000, .2);
  }
}
